@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Raleway');

h1, h2, h3, h4, h5 {
    font-family: "Righteous";
}

p, a {
    font-family: "Raleway";
}

.footer {
    border-top-color: #f99882;
    border-top-style: solid;
    border-top-width: 5px;
    padding: 2%;
    padding-bottom: 0;
    /* text-align: center; */
    background-color: black;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #f99882;
    text-decoration: none;
}

.outline {
    border-style: solid;
    border-color: white;
    border-width: 3px;
}

.padding {
    padding: 3%;
}

.center {
    margin: auto;
    width: 60%;
    /* border: 3px solid #73AD21; */
    /* padding-left: 30%;
    padding-right: 30%; */
}

.text-center {
    text-align: center;
}