<div class="footer">
  <div fxLayout="row" fxFlexFill>
    <div fxFlex="50">
      <div class="center">
        <h3>Umang Lohia</h3>
        <div class="outline padding">
          <p>Hi, my name is Umang and I am a software engineer passionate about web and mobile 
            development and it's power to make a difference in people's everyday lives.</p>
        </div>
      </div>
    </div>
    <div fxFlex="50">
      <div class="center">
        <h3>Quick Links</h3>
        <div class="padding">
          <a href="#">Home</a><br/>
          <a href="#myWorks">My Work</a><br/>
          <a href="#myExperience">My Experience</a><br/>
          <a href="#myEducation">My Education</a><br/>
          <a href="https://github.com/lohiaumang" target="_blank">My Github</a><br/>
          <a href="https://tinyurl.com/ulohia" target="_blank">My LinkedIn</a><br/>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxFlexFill>
      <div fxFlex="100" fxFlexFill class="text-center">
          <p>© 2018. All Rights Reserved by Umang Lohia.</p>
      </div>
  </div>
</div>