@import url('https://fonts.googleapis.com/css?family=Joti+One|Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|VT323');
@import url('https://fonts.googleapis.com/css?family=Bungee|Montserrat');
@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Raleway');

h1, h2, h3, h4, h5 {
    font-family: "Righteous";
}

a, p {
    font-family: "Raleway";
}

/* .header-font {

} */

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cover {
    overflow-y: hidden;
    overflow-x: hidden;
}

.text-center {
    text-align: center;
}

.light-bg {
    background-color:white;
    color: black;
}

video {
    min-height: 100%;
    max-width: 100%;
}

.example-card {
  width: 200px;
  max-height: 100%;
  margin: auto;
  margin-bottom: 1%;
}

.job-card {
    width: 50%;
    max-height: 100%;
    margin: auto;
    margin-top: 5%;
}

mat-card-title {
    font-family: "Righteous";
}

mat-card-subtitle {
    font-family: "Raleway";
}

.example-header-image {
  background-image: url('../../assets/img/inhabitr-logo.jpg');
  background-size: cover;
}

.margin-top {
    margin-top: 2%;
    margin-bottom: 2%;
}

.padding {
    padding-left: 10% !important;
    padding-right: 10% !important;
}

#inhabitr-avatar {
    /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
    background-image: url('../../assets/img/inhabitr-logo.jpg');
    
    /* make a square container */
    width: 50px;
    height: 50px;

    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;

    /* center the image vertically and horizontally */
    background-position: center;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 25%;

    /* border-color: grey;
    border-width: 1px;
    border-style: solid; */
    margin: auto;
}

#amazon-avatar {
    /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
    background-image: url('../../assets/img/Amazon-A-Logo.jpg');
    
    /* make a square container */
    width: 50px;
    height: 50px;

    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;

    /* center the image vertically and horizontally */
    background-position: center;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 25%;

    /* border-color: grey;
    border-width: 1px;
    border-style: solid; */
    margin: auto;
}

.pad-top {
    margin-top: 10%;
}