<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div>

  <mat-toolbar>
      
    <!-- <img style="height: 50px; margin-right: 15px;" src="assets/img/UL_1.png"/> -->
    <p class="header-font"><strong>Umang Lohia</strong></p>

    <span class="example-spacer"></span>

    <div fxShow="true" fxHide.lt-md="true">

      <a class="subtext-font" href="#" mat-button>Home</a>

      <a class="subtext-font" href="#" mat-button>My Works</a>

      <a class="subtext-font" href="#" mat-button>Education</a>

      <a class="subtext-font" href="#" mat-button>Download Resume</a>
    </div>

    <div fxShow="true" fxHide.gt-sm="true">
        <a class="subtext-font" href="#" mat-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></a>
    </div>
  </mat-toolbar>


  <mat-sidenav-container fxFlexFill>
    
    <mat-sidenav #sidenav fxLayout="column" mode="side" position="end" opened="false">

      <div fxLayout="column">

        <a class="subtext-font" href="#" mat-button>Home</a>
        
        <a class="subtext-font" href="#" mat-button>My Works</a>
        
        <a class="subtext-font" href="#" mat-button>Education</a>
      
        <a class="subtext-font" href="#" mat-button>Download Resume</a>

      </div>

    </mat-sidenav>

    <mat-sidenav-content fxFlexFill>
      <app-first-page></app-first-page>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>